* {
    box-sizing: border-box;
  }
 
  .button-slider{
    font-family: Dosis;
    font-weight: bold;
    color: black;
  }
 
  .slider {
      width: 50%;
      margin: 35px auto;
  }
 
  .slick-slide {
    margin: 0px 20px;
  }
 
  .slick-slide img {
    width: 100%;
  }
 
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
 
 
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 5;
  }
  
  .slick-active {
    opacity: 5;
  }
 
  .slick-current {
    opacity: 5;
  }
 