.offer {
    width: auto;
    height: 500px;
    padding-left: 50px;
    padding-top: 50px;
    position: absolute;
    font-family: 'Dosis', sans-serif;
    }
 
 .title {
    font-weight: bold;
    }
 
 .border-bottom {
    border-top: solid #008ed7;
    color: #008ed7;
    border-radius: 5;
    }