serangga h1{
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    text-align: center;
 }
 
 .serangga{
    padding:35px 195px;
 }
 #Bagian5{
    width:100%;
    margin: 0px;
    height:auto;
    font-family: 'Dosis', sans-serif;
 }
 
 #Serangga{
    height: 364px;
    width:360px;
    background-image:url(./img/img1.png);
 }
 
 #Nyamuk{
    height: 364px;
    width: 360px;
    background-image:url(./img/img2.png);
 }
 
 #Bagian5 #Serangga img{
    margin-bottom: 10px;
 }
 
 .commersial{
    margin-top: 50px;
    color:#ffffff;
 }
 
 .Residential{
    margin-top: 50px;
    color:#ffffff;
 }