.inner {
    background-color: #273c5b;
    color: white;
    font-weight: 700px;
    font-family: 'Dosis', sans-serif;
  }
  
  .kiri {
     margin: 10px 100px;
     float: left;
     font-size:16px;
  }
  
  .kiri p {
     margin: 0;
     color: #ffffff;
  }
  
  .kiri p span {
     color: darkorange;
  }
  
  .kanan {
     float: right;
     margin: 10px 100px;
     font-size: 16px;
  }
  
  .kanan img {
     float: left;
     margin: 0px 10px;
  }
  
  .kanan p {
    float: left;
    margin: 0;
     color:#ffffff;
  }
  
  
  .clear {
      clear: both;
  }
  
  .topnav {
     overflow: hidden;
     background-color: white;
  }
  
  
  .topnav h3 {
     float: left;
  }
  
  .topnav .nav {
     float: right;
     margin: 30px 0px;
  }
  
  .topnav h3 {
     font-size: 20px;
     margin: 0;
  }
  
  .topnav a {
     float: left;
     color: black;
     text-align: center;
     padding: 0px 16px;
     text-decoration: none;
     font-size: 14px;
     font-weight: 700;
     font-family: 'Dosis', sans-serif;
  }
  
  .topnav a:hover {
     color: lightblue;
  }
  
  .topnav a.active {
     color: #008ED7;
  }