.section {
    width:600px;
    height: 660px;
    background-color: #008ED7;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 140px;
    padding-left: 60px;
 }
 
 h2 {
    text-align: center;
    margin: 5px;
    font-size: 40px;
 }
 
 /* Full-width input fields */
 input[type=text],
 input[type=password] {
    width: 440px;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
 }
 
 input[type=text]:focus,
 input[type=password]:focus {
    background-color: #ddd;
    outline: none;
 }
 
 .registerbtn {
    background-color: #E5AB1F;
    box-sizing: border-box;
    color: white;
    padding: 15px;
    margin: 30px 0 10px 0;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
 }
 
 .col-sm-5 .section form{
    width:400px;
    height:485px;
    margin: 0px;
 }
 
 .col-sm-5 .section form .form-group{
    width:400px;
 }
 
 #request{
    color: white;
 }
 
 #bagianform{
    padding-left: 0px;
    padding-right: 0px;
 }
 
 .badan{
    width: 100%;
 }