/*Header*/
.inner {
  background-color: #273c5b;
  color: white;
  font-weight: 700px;
  font-family: 'Dosis', sans-serif;
}

.kiri {
   margin: 10px 100px;
   float: left;
   font-size:16px;
}

.kiri p {
   margin: 0;
   color: #ffffff;
}

.kiri p span {
   color: darkorange;
}

.kanan {
   float: right;
   margin: 10px 100px;
   font-size: 16px;
}

.kanan img {
   float: left;
   margin: 0px 10px;
}

.kanan p {
  float: left;
  margin: 0;
   color:#ffffff;
}


.clear {
    clear: both;
}

.topnav {
   overflow: hidden;
   background-color: white;
}


.topnav h3 {
   float: left;
}

.topnav .nav {
   float: right;
   margin: 30px 0px;
}

.topnav h3 {
   font-size: 20px;
   margin: 0;
}

.topnav a {
   float: left;
   color: black;
   text-align: center;
   padding: 0px 16px;
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Dosis', sans-serif;
}

.topnav a:hover {
   color: lightblue;
}

.topnav a.active {
   color: #008ED7;
}

/*Section 1*/
/*Jumbotron*/
#Bagian2{
   margin: 0px;
   height:660px;
   width:100%;
   font-family: 'Dosis', sans-serif;
   background:url(https://www.miamipestcontrolsolutions.com/wp-content/uploads/2017/03/bg-hero.jpg?id=69);
}


#Container{
  height:100%;
  padding-top: 100px;
  padding-bottom: 93px;
  padding-right: 30px;
  padding-left: 130px;
  background-position: center;
  background-size: cover;
  width:78%;
   margin-right: 0px;
}

.judul h2{
     font-size: 80px;
     color: #ffffff;
     line-height: 80px;
     text-align: left;	
}

.teks p span{
  color: #ffffff;
  font-size: 30px;
}

/*Form*/
.section {
   width:600px;
   height: 660px;
   background-color: #008ED7;
   color: white;
   width: 100%;
   padding-top: 40px;
   padding-bottom: 20px;
   padding-right: 140px;
   padding-left: 60px;
}

h2 {
   text-align: center;
   margin: 5px;
   font-size: 40px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
   width: 440px;
   padding: 15px;
   margin: 5px 0 10px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
   box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}

.registerbtn {
   background-color: #E5AB1F;
   box-sizing: border-box;
   color: white;
   padding: 15px;
   margin: 30px 0 10px 0;
   margin-bottom: 30px;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
}

.col-sm-5 .section form{
   width:400px;
   height:485px;
   margin: 0px;
}

.col-sm-5 .section form .form-group{
   width:400px;
}

#request{
   color: white;
}

#bagianform{
   padding-left: 0px;
   padding-right: 0px;
}

.badan{
   width: 100%;
}

/*Section 2*/
.offer {
   width: auto;
   height: 500px;
   padding-left: 50px;
   padding-top: 50px;
   position: absolute;
   font-family: 'Dosis', sans-serif;
   }

.title {
   font-weight: bold;
   }

.border-bottom {
   border-top: solid #008ed7;
   color: #008ed7;
   border-radius: 5;
   }

/*Section 3*/
.serangga h1{
   font-family: 'Dosis', sans-serif;
   font-size: 48px;
   text-align: center;
}

.serangga{
   padding:35px 195px;
}
#Bagian5{
   width:100%;
   margin: 0px;
   height:auto;
   font-family: 'Dosis', sans-serif;
}

#Serangga{
   height: 364px;
   width:360px;
   background-image:url(./img/img1.png);
}

#Nyamuk{
   height: 364px;
   width: 360px;
   background-image:url(./img/img2.png);
}

#Bagian5 #Serangga img{
   margin-bottom: 10px;
}

.commersial{
   margin-top: 50px;
   color:#ffffff;
}

.Residential{
   margin-top: 50px;
   color:#ffffff;
}

/*Section 4*/
* {
   box-sizing: border-box;
 }

 .button-slider{
   font-family: Dosis;
   font-weight: bold;
   color: black;
 }

 .slider {
     width: 50%;
     margin: 35px auto;
 }

 .slick-slide {
   margin: 0px 20px;
 }

 .slick-slide img {
   width: 100%;
 }

 .slick-prev:before,
 .slick-next:before {
   color: black;
 }


 .slick-slide {
   transition: all ease-in-out .3s;
   opacity: 5;
 }
 
 .slick-active {
   opacity: 5;
 }

 .slick-current {
   opacity: 5;
 }


/*Section 6*/
.media img  {
   width: 10%;
}
.text-muted {
   font-size: 20px;
}

#quote .img{
   width: 5%;
}

#Map{
   margin:0px;
   padding:0px;
}

/*Telepon*/
#Telepon{
   background-color: #edf0f4;
   width: 100%;
   padding:35px 195px;
   text-align: center;
}

.contact{
   font-size: 30px;
   font-family: 'Dosis', sans-serif;
}

.number{
   color:#008ed7;
}

/*Footer*/
#Footer{
   background-color: #242a32;
   width :100%;
   height:500px;
   padding:0px;
   margin:0px;
}

#Satu h3{
   font-size: 16px;
   font-family: 'Dosis', sans-serif;
   color:#ffffff;
}

#Satu .emailbaru .suscribe{
   width:200px;
   height:30px;
}

#Satu h3 {
   width:35px;
   height:40px;
   
}

.col-md-6 .col-lg-6 .col-sm-6{
   padding:5px;
}

.blogmouse{
   width: 60px;
   height:60px;
}



.email .tombol img{
   text-align: center;
   color: white;
   width: 30px;
   height: 30px;
   background-color: #E5AB1F;
   margin-left:52px;
   margin-top:5px;
}

.email .tombol img:hover{
   text-align: center;
   color: black;
   width: 30px;
   height: 30px;
   background-color: #E5AB1F;
   margin-left:52px;
   margin-top:5px;
}

#Dua h3{
   font-size: 16px;
   font-family: 'Dosis', sans-serif;
   color:#ffffff;   
}

#Dua .mouse1{
   padding-left: 70px;
   margin-top: -50px;
}

#Dua .mouse2{
   color:#696969;
   padding-left: 70px
}

#Tiga h3{
   font-size: 16px;
   font-family: 'Dosis', sans-serif;
   color:#ffffff;
}

#Empat h3{
   font-size: 16px;
   font-family: 'Dosis', sans-serif;
   color:#ffffff;
}

#Satu{
   padding: 50px 40px;
}

#Dua{
   padding:50px 40px;
}

#Tiga{
   padding: 50px 40px;
   height: 330px;
}

#Empat{
   padding: 50px 40px;
}

#Tiga ol{
   color:white;
   margin-left: 40px;
   margin-top: -160px;
   line-height: 22px;
}

.sosmed{
   width:30px;
   height:30px;
   margin-right:10px;
}

#Empat h3{
   margin-bottom:25px;
}

.row .col-sm-2{
   font-size: 25px;
   font-family: 'Dosis', sans-serif;
   color:#00BFFF;
   height: 100px;
   padding: 10px;
   padding-left:25px;
   padding-right: 5px;
}

.row .col-sm-7 {
   font-size: 16px;
   font-family: 'Dosis', sans-serif;
   color:white;
   height: 100px;
   text-align: left;
   padding:17px 15px;
}

.row .col-sm-3{
   font-size: 16px;
   font-family: 'Dosis', sans-serif;
   color: white;
   height:100px;
   padding:17px 15px;
}

.garis{
   margin:30px 0px;
   border:1px solid #DCDCDC;
}