#Telepon{
    background-color: #edf0f4;
    width: 100%;
    padding:35px 195px;
    text-align: center;
 }
 
 .contact{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
 }
 
 .number{
    color:#008ed7;
 }
 
 /*Footer*/
 #Footer{
    background-color: #242a32;
    width :100%;
    height:500px;
    padding:0px;
    margin:0px;
 }
 
 #Satu h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
 }
 
 #Satu .emailbaru .suscribe{
    width:200px;
    height:30px;
 }
 
 #Satu h3 {
    width:35px;
    height:40px;
    
 }
 
 .col-md-6 .col-lg-6 .col-sm-6{
    padding:5px;
 }
 
 .blogmouse{
    width: 60px;
    height:60px;
 }
 
 
 
 .email .tombol img{
    text-align: center;
    color: white;
    width: 30px;
    height: 30px;
    background-color: #E5AB1F;
    margin-left:52px;
    margin-top:5px;
 }
 
 .email .tombol img:hover{
    text-align: center;
    color: black;
    width: 30px;
    height: 30px;
    background-color: #E5AB1F;
    margin-left:52px;
    margin-top:5px;
 }
 
 #Dua h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;   
 }
 
 #Dua .mouse1{
    padding-left: 70px;
    margin-top: -50px;
 }
 
 #Dua .mouse2{
    color:#696969;
    padding-left: 70px
 }
 
 #Tiga h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
 }
 
 #Empat h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
 }
 
 #Satu{
    padding: 50px 40px;
 }
 
 #Dua{
    padding:50px 40px;
 }
 
 #Tiga{
    padding: 50px 40px;
    height: 330px;
 }
 
 #Empat{
    padding: 50px 40px;
 }
 
 #Tiga ol{
    color:white;
    margin-left: 40px;
    margin-top: -160px;
    line-height: 22px;
 }
 
 .sosmed{
    width:30px;
    height:30px;
    margin-right:10px;
 }
 
 #Empat h3{
    margin-bottom:25px;
 }
 
 .row .col-sm-2{
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color:#00BFFF;
    height: 100px;
    padding: 10px;
    padding-left:25px;
    padding-right: 5px;
 }
 
 .row .col-sm-7 {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:white;
    height: 100px;
    text-align: left;
    padding:17px 15px;
 }
 
 .row .col-sm-3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color: white;
    height:100px;
    padding:17px 15px;
 }
 
 .garis{
    margin:30px 0px;
    border:1px solid #DCDCDC;
 }