#Bagian2{
    margin: 0px;
    height:660px;
    width:100%;
    font-family: 'Dosis', sans-serif;
    background:url(https://www.miamipestcontrolsolutions.com/wp-content/uploads/2017/03/bg-hero.jpg?id=69);
 }
 
 
 #Container{
   height:100%;
   padding-top: 100px;
   padding-bottom: 93px;
   padding-right: 30px;
   padding-left: 130px;
   background-position: center;
   background-size: cover;
   width:78%;
    margin-right: 0px;
 }
 
 .judul h2{
      font-size: 80px;
      color: #ffffff;
      line-height: 80px;
      text-align: left;	
 }
 
 .teks p span{
   color: #ffffff;
   font-size: 30px;
 }